rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read, update: if request.auth != null && request.auth.uid == user;
      allow read, create, update, delete: if request.auth.token.admin == true;
    }
    match /teachers/{teacher} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.admin == true;
    }
  }
}