/* メディアクエリブレークポイント */
$xs: 600;
$sm: 960;
$md: 1264;
$lg: 1904;

$sp-max: calc($xs - 1)px;
$tb-min: $xs+px;
$tb-max: calc($md - 1)px;
$pc-min: $md+px;

/* PC */
@mixin display_pc {
  @media screen and (min-width: $pc-min) {
    @content;
  }
}

/* タブレット */
@mixin display_tab {
  @media screen and (min-width: $tb-min) and (max-width: $tb-max) {
    @content;
  }
}

/* スマホ */
@mixin display_sp {
  @media screen and (max-width: $sp-max) {
    @content;
  }
}